name: Validate

on: [push, pull_request]

jobs:
  conftest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - name: Check yaml extension does not exist
        run: |
          if [[ $(find . -type f -name "*.yaml" -not -path "./.github/*" | wc -l)  -gt 0 ]] ; then
            echo "Found .yaml; only expected .yml"
            find . -type f -name "*.yaml" -not -path "./.github/*"  -exec echo {} \;

            exit 1
          fi

      - name: Conftest
        uses: redhat-cop/github-actions/confbatstest@master
        with:
          tests: _test/conftest.sh
