{% for namespace, secret in secrets.items() %}
---
apiVersion: v1
kind: List
items:
{% for name, data in secret.items() %}
- apiVersion: v1
  type: Opaque
  data:
{% for key, value in data.items() %}
    {{ key }}: {{ value | b64encode }}
{% endfor %}
  kind: Secret
  metadata:
    name: {{ name }}
    namespace: {{ namespace }}
{% endfor %}
{% endfor %}
